@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.nav-logo {
    font-family: 'Playfair Display', serif;
}

.hero-description {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.hero-button {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.form-section {
    background-image: url(../public/images/bg-form.jpeg);
}